.top_main_back_five {
    width: 100%;
    /*background-color: red;*/
    position: absolute;
    top: 0px;
    left: 0;
    height: 300px;
    z-index: -1;
    _z-index: 0;
    /*background: url('fiveback.png') 50% 0px no-repeat;*/
}

.fiveindexbutton {
    background: url('buttonback.png') no-repeat;
    height: 30px;
    text-align: center;
    border: 2px solid #EFE697
}

.fiveindexbutton span {
    color: #f9d450
}

.goldenclass a {
    color: #f9d450
}

.crown {
    background: url('crown.png') no-repeat;
    text-align: center;
    border: 2px solid #EFE697;
    height: 40px;
    margin: auto;
}

.crown span {
    color: #f9d450;
    font-size: large;
}

.hm-con {
    clear: both;
    overflow: hidden;
}

.hm-con li {
    float: left;
    height: 60px;
    line-height: 55px;
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: center;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bolder;
}

.w700 {
    width: 740px;
    margin: 8px auto 10px;
}

.kj_tab {
    width: 740px;
}

.kj-w110 {
    width: 100px
}

.kj-w110 div {
    width: 44px;
    height: 44px;
    display: block;
    text-align: center;
    line-height: 39px;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    color: #9f0417;
    margin-top: 7px;
    margin-left: 20px
}

.kj-w110 .OneNum {
    cursor: pointer;
    background: url('main_pic.png') no-repeat scroll -451px -48px transparent;
}

.kj-w110 .OneNum_active {
    cursor: pointer;
    background: url('main_pic.png') no-repeat scroll -516px -48px transparent;
    color: #fff
}

.kj_title span {
    display: inline-block;
    width: 15px;
    margin: 180px 0px 0px 18px;
}

.kj_tab .hm-con {
    float: right;
    width: 740px;
    overflow: hidden;
    clear: none;
}

.kjgg_box h3, em, i {
    margin: 0px;
    padding: 0px;
    font-style: normal;
}

.open_Ball {
    background: url('main_pic.png') no-repeat scroll 23px -220px transparent;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
}

.Ball_Box {
    margin-left: -35px
}

.redBallBox {
    width: 710px;
    float: left;
    margin-left: 50px;
}

.redBallBox li {
    margin-right: 10px;
    float: left;
    height: 40px;
}

.redBallBox li.OneNum {
    background: url('main_pic.png') no-repeat scroll -395px -48px transparent;
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 33px;
    text-align: center;
    margin-right: 12px;
    color: #9f0417;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.redBallBox li.OneNum_active {
    background: url('main_pic.png') no-repeat scroll -4px -48px transparent;
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 33px;
    text-align: center;
    margin-right: 12px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.redBallBox .selectTitle {
    color: #000;
    float: left;
    line-height: 40px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: bolder;
}

.addbtn_disabled {
    height: 44px;
    float: left;
    /*background: no-repeat scroll 0px -195px transparent;*/
    font-size: 14px;
    width: 162px;
    text-align: center;
    color: rgb(0, 0, 0);
    display: block;
    font-weight: bolder;
}

.fivelogo {
    margin: 0px;
    height: 158px;
    width: 100%;
    background: url("11fivelogo2.jpg") no-repeat center;
}

.fivemologo {
    height: 117px;
    width: 100%;
    background: url("mofivelogo.png") no-repeat;
}

.fiveNum {
    display: inline-block;
    color: white;
    background: url('bredball.png') no-repeat;
    text-align: center;
    height: 32px;
    width: 32px;
}

.five_content {
    margin: 0 auto;
    /*width: auto;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*border: 1px solid #dadada;*/
    background-color: #faf9f9
}

.fivefooter {
    border-top: 2px solid;
    padding-bottom: 10px;
    color: #666;
    padding-top: 20px;
}

.fivefooter .f-link {
    text-align: center;
    color: #ccc;
}

.fivefooter .f-link a {
    margin: 0 5px;
}

.fivefooter a {
    color: #666;
    text-decoration: none;
}

.nk3_center_left h2 {
    padding-left: 0px;
}

.zgk3_hao .zgk3_nub em {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 41px;
    text-align: center;
    margin-right: 10px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

.awardBall1 {
    background: url('main_pic.png') no-repeat scroll -2px -102px transparent;
}

.awardBall2 {
    background: url('main_pic.png') no-repeat scroll -49px -102px transparent;
}

.awardBall3 {
    background: url('main_pic.png') no-repeat scroll -96px -102px transparent;
}

.awardBall4 {
    background: url('main_pic.png') no-repeat scroll -143px -102px transparent;
}

.awardBall5 {
    background: url('main_pic.png') no-repeat scroll -189px -102px transparent;
}

.fivebtnlogin {
    border: none;
    background: url('115main2.png') no-repeat scroll -437px -52px transparent;
    width: 92px;
    height: 31px;
}

.fivebtnreg {
    border: none;
    background: url('115main2.png') no-repeat scroll -542px -52px transparent;
    width: 92px;
    height: 31px;
}

.fivebtndreg {
    border: none;
    background: url('115main2.png') no-repeat scroll -642px -52px transparent;
    width: 92px;
    height: 31px;
}

.fivefav {
    border: none;
    background: url('115main2.png') no-repeat scroll -103px -380px transparent;
    width: 175px;
    height: 44px;
    margin: 15px auto 15px auto;
}

.fivefavback {
    border: none;
    background: url('115main2.png') no-repeat scroll -21px -443px transparent;
    width: 350px;
    height: 210px;
    margin: 15px auto 15px auto;
}


.fivenews {
    border: none;
    background: url('115main2.png') no-repeat scroll -103px -789px transparent;
    width: 175px;
    height: 44px;
    margin: 15px auto 15px auto;
}

.fiveNum01{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -423px -174px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum02{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -488px -175px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum03{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -552px -175px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum04{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -616px -174px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum05{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -680px -175px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum06{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -744px -175px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum07{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -807px -175px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum08{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -873px -175px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum09{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -745px -224px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum10{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -807px -224px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fiveNum11{
    border: none;
    display: inline-block;
    background: url('115main2.png') no-repeat scroll -874px -224px transparent;
    width: 48px;
    height: 48px;
    margin: 5px auto 5px auto;
}
.fivebottom{
    margin: 0px;
    height: 230px;
    width: auto;
    background: url("115bottom.png") no-repeat center;
}

