.fiveNum01 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -25px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum02 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -100px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum03 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -175px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum04 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -252px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum05 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -325px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum06 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -401px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum07 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -476px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum08 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -550px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum09 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -627px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum10 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -700px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.fiveNum11 {
    border: none;
    display: inline-block;
    background: url('115main.png') no-repeat scroll -774px -20px transparent;
    width: 50px;
    height: 50px;
    margin: 15px auto 15px auto;
}

.gaopinlogo {
    margin: 0px;
    height: 128px;
    width: 100%;
    background: url("gaopinlogo.jpg") no-repeat center;
}

.gp_new_guide {
    background: url('gaopinmain.png') no-repeat scroll -50px -44px transparent;
    width: 305px;
    height: 265px;
}

.gp_lottery_routes {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -144px -563px transparent;
    width: 387px;
    height: 240px;
}

.gp_lottery_cq {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -374px -67px transparent;
    width: 220px;
    height: 240px;
}

.gp_lottery_xj {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -604px -67px transparent;
    width: 220px;
    height: 240px;
}

.gp_lottery_jx {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -833px -67px transparent;
    width: 220px;
    height: 240px;
}

.gp_lottery_xk3 {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -146px -312px transparent;
    width: 220px;
    height: 240px;
}

.gp_lottery_lk3 {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -374px -312px transparent;
    width: 220px;
    height: 240px;
}

.gp_lottery_gd {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -604px -312px transparent;
    width: 220px;
    height: 240px;
}

.gp_lottery_sd {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -831px -312px transparent;
    width: 220px;
    height: 240px;
}

.gp_lottery_all {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -48px -566px transparent;
    width: 61px;
    height: 215px;
}

.gp_news_all {
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -561px -569px transparent;
    width: 63px;
    height: 215px;
}

.gp_first {
    border: none;
    background: url('gaopinfirst.jpg') no-repeat scroll transparent;
    height: 263px;

}

.gp_second {
    border: none;
    background: url('gaopinsecond.jpg') no-repeat scroll transparent;
    height: 407px;

}
.gp_bottom{
    margin: 0px;
    height: 302px;
    width: auto;
    background: url("gaopinthird.jpg") no-repeat center;
}

.gp_lottery_result {
    margin: auto;
    padding-top: 100px;
    color: #8c8a8b;
    text-align: center;
    background-color: white;
    height: 407px;
}
.gp_lottery_result strong{
    font-size: larger;
    color: red;
}

.gp_lottery_sure{
    border: none;
    background: url('gaopinmain.png') no-repeat scroll -143px -818px transparent;
    width: 120px;
    height: 40px;
}