/* :::::index.css::::: */

/*body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { font-family: "微软雅黑";margin: 0px; padding: 0px; }*/
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: 400; }
li { list-style: outside none none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
/*body { font: 12px/1.5 arial,SimSun,helvetica,sans-serif; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(102, 102, 102); }*/
.clearfix:after { clear: both; content: "."; display: block; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
html, body, p, ul, ol, li, h1, h2, h3, h4, h5, h6, dt, dl, dd { border: 0px none; padding: 0px; margin: 0px; list-style: outside none none; }
b, u, i, s, em { text-decoration: none; font-weight: 400; font-style: normal; }
img { border: 0px none; }
a { text-decoration: none; color: rgb(0, 83, 165); }
i.icon u { visibility: hidden; }
.content{ margin:0 auto; width:1060px;}
#bd { margin-top: 10px; border-top: 1px solid rgb(223, 223, 224); position: relative; }
a:hover { color:  rgb(210, 0, 0); text-decoration: underline; }
.blank10{clear: both; display: block; height: 10px; overflow: hidden;}
.blank1{clear: both; display: block; height: 1px; overflow: hidden;}
.blank0{clear: both; display: block; height: 0px; overflow: hidden;}
.left4{ margin-left:4px}
.period-l{float: left; width: 768px;}
.period-r{float: right; width: 290px; height: auto;}
.select_txt {display:none;}
.kf_qycn_com_cckf_header,.kf_qycn_com_cckf_content,.kf_qycn_com_cckf_welcomebox .kf_qycn_com_cckf_welcomebox{display:none;}
.c_ba2636{ color:rgb(180,0,0);font-size:13px;font-weight:600}
#showC .done{ text-align:center;font-size:14px;padding:10px;}
.koilist .kiutv2{ float:left;border: 1px solid rgb(229, 229, 229); padding-left: 10px; width: 200px; height: 28px; line-height: 28px; font-size: 15px;margin: auto 20px; }
.koilist .kiutv1{float:left; border: 1px solid rgb(229, 229, 229); padding-left: 10px; width: 100px; height: 28px; line-height: 28px; font-size: 15px;  }
.openbtns{float:left; width:200px}
.koilist{width:540px; height:30px; margin-top:20px; margin-left:50px }
.koilist .raoin{ background: url('cion1.png') no-repeat scroll 0px 6px transparent;  height:30px; float:left ;width:50px; margin-left:20px; }
.openbtns a { font-size: 14px; border-radius: 3px; background: rgb(45, 41, 38) none repeat scroll 0% 0%; width: 87px; height: 30px; line-height: 30px; color: rgb(255, 255, 255); text-align: center; display: block; margin: 0px auto; }
.openbtns a:hover { background: #ccc none repeat scroll 0% 0%; color: rgb(0, 0, 0); text-decoration: none; }
.openbtns{width:100px}
.xoopbtns input {cursor:pointer; border:none; font-size: 16px; border-radius: 3px; background: rgb(45, 41, 38) none repeat scroll 0% 0%; width: 187px; height: 40px; line-height: 30px; color: rgb(255, 255, 255);  display: block; margin: 20px 210px 0px; }
.xoopbtns input:hover {border:none; background: #ccc none repeat scroll 0% 0%; color: rgb(0, 0, 0); text-decoration: none; }
.boxURL{width:640px}
.boxURL h1{ text-align:center;font-size:19px;font-weight:700;}
.boxURL p{width:640px;border-bottom:1px dotted; padding:10px 0px; text-align:center}
.formclass{width:640px; border-right:1px dotted; }
.rightclass{ position:absolute; left:660px;top:80px;width:380px;}
.rightclass .careTip h1{font-size:18px; padding-top:20px;}
.rightclass .careBox{ line-height:25px;}
.rightclass .step{ line-height:27px;}
.totalsVal{width:70px;}
.nav-main .b_red{color:rgb(220,0,0)}
/* ::::: index.css::::: */
/*html { background-image: url('undefined'); }*/
/*body {  background: none repeat scroll 0px 0px transparent; position: relative;  }*/
a { text-decoration: none; cursor: pointer; }
a:hover { text-decoration: none; }
.area600 { float: left; width: 540px; overflow: hidden; }
.area840 { float: left; width: 778px; overflow: hidden; }
.area240 { float: left; width: 238px; overflow: hidden;margin-top:10px;  }
.area232 { float: left; width: 282px; overflow: hidden;  }
.area290 { float: left; width: 290px; overflow: hidden; margin-left:10px; height:220px; }
.area300 { float: left; width: 300px; overflow: hidden; height:220px; }
.ui-tabs-nav a { outline: 0px none; }
.ui-tabs-nav a:active { outline: 0px none; }
.top{height: 34px; background-color:#f5f5f5; border-bottom:1px solid #ccc; min-width:1080px;}
.top a{color:rgb(255, 255, 255)}
.topToolBar { width: 1060px; height: 34px; line-height: 34px; margin: 0px auto; position: relative; z-index: 5; font-size:12px;}
.top-nav-l-a { margin-left: 5px; }
.top-nav-l { float: left; color: rgb(0, 0, 0); margin-right: 10px; }
.top_enter .enter_user,.top_enter .enter_balance{  float: left; color:#000 }
.top_enter .enter_name,.top_enter .enter_digital,.top_enter .enter_btn { padding: 0px 10px 0px 0px; float: left;  color:#000}
.enter_btn a{color:#000}
.top_enter .enter_digital{ color: rgb(220, 0, 0); }
.top_login { float: left; width:450px;  }
.top_enter{float: left; width:450px; }
.top_login .login_user, .top_login .login_psw {  float: left; color:#000 }
.top_login .login_input, .top_login .login_btn { padding: 0px 10px 0px 0px; float: left; }
.login_input .input_txt { width: 90px; height: 16px; line-height: 16px; border: 1px solid rgb(186, 186, 186); }
.login_btn .dl_btn {background:none no-repeat scroll  transparent; width: 43px; height: 22px; line-height: 18px; color:#000; border: medium none; }
.login_btn .register {  background: none no-repeat scroll -185px -232px transparent; width: 60px; height: 22px; line-height: 34px; color:#000; border: medium none;  font-size:12px;text-decoration:none;}
.top-nav-r { float: right; }
.top-nav-r a{ padding-right:10px;color:#000;}
#page-header { background: none repeat scroll 0px 0px transparent; min-height: 0px; }
#bd { width: auto; margin: 0px; }
#bd .top-banner-content { margin: 0px auto; width: 1060px; overflow: hidden; position: relative; }
.banner_content{ margin: 0px auto; width: auto; overflow: hidden; position: relative; border:1px solid rgb(218,218,218); background-color:#faf9f9;  }
#bd .top-banner-content .logo { display: block; width: 780px; height: 80px; background: url('top_main.png') no-repeat scroll -0px 0px transparent; }
.bd_content {position: relative; width: 1060px; margin: 1px auto 0; background-color:#faf9f9; }
.shishifa-caipiao-nav {border: 1px solid rgb(228, 228, 228); background: url('daohang.png') repeat-x scroll  transparent; overflow:visible; padding: 0px 0px 0px 70px; height: 33px; position: relative; }
.shishifa-caipiao-nav li { float: left; }
.shishifa-caipiao-nav li a { white-space: nowrap; position: relative;  color: rgb(0, 0, 0); float: left; padding: 0px 25px; font-weight: 700; font-size: 14px; }
.shishifa-caipiao-nav li.last a { background: none repeat scroll 0px 0px transparent; }
.shishifa-caipiao-nav li.last a:hover { background: url('top_main.png') no-repeat scroll right -108px transparent; }
.shishifa-caipiao-nav .goto-index { overflow: hidden; background: url('top_main.png') no-repeat scroll -47px -89px transparent; position: absolute; width: 60px; height: 14px; text-indent: -999px; top: 10px; left: 18px; }
#caipiao_nav_list { overflow: hidden; height: 30px; line-height: 30px; background: none repeat scroll 0% 0% rgb(255, 254, 248); border: 1px solid rgb(228, 228, 228); position: relative; float:left; width:1058px;font-size:13px;  }
.gg-title{float: left; width: 70px; height: 30px; font-weight:bolder; margin-left:30px;}
.gg-content{float: left; width: 900px; height: 30px; }
#slide{border:1px solid rgb(218,218,218);width:770px;height:220px}
.cz_logo35 { width: 35px; height: 35px; background: url('logo_35.png') no-repeat scroll 0% 0% transparent; display: block; margin: 7px 7px 0px; z-index: 10; text-indent: -999px; overflow: hidden; white-space: nowrap; }
.logo35_gdxuan5 { background-position: -2px -117px; }
.logo35_sdxuan5 { background-position: -2px -78px; }
.logo35_kuai3 { background-position: -2px -39px; }
.logo35_pk10 { background-position: -2px -1px; }
.logo35_klc { background-position: -2px -156px; }
.logo35_klpk { background-position: -2px -192px; }
.logo35_ssc { background-position: -2px -228px; }
.awardLists { border: 1px solid rgb(221, 221, 221); clear: both; margin-top: 10px; width:279px; }
.awardLists .grayTitle { position: relative; z-index: 10;  border-bottom:1px solid #ccc}
.awardLists .grayTitle dt { width: 128px; }
.awardLists .grayTitle dd.end { border-right: 0px none; position:absolute; right:12px }
.awardLists_k3 { border: 1px solid rgb(221, 221, 221); clear: both; margin-top: 8px; width:228px; }
.awardLists_k3 .grayTitle { position: relative; z-index: 10;  border-bottom:1px solid #ccc}
.awardLists_k3 .grayTitle dt { width: 128px; }
.awardLists_k3 .grayTitle dd.end { border-right: 0px none; position:absolute; right:12px }
.awardList_con { overflow: hidden; padding-bottom: 3px; }
.awardList_con li { margin-top: -1px; border-top: 1px dotted rgb(167, 167, 167); padding: 8px 0px 5px 10px; clear: both; }
.awardList_con li p { padding-bottom: 5px; line-height: 22px; }
.awardList_con li em { display: inline-block; float: left; width: 13px; font-weight: 700;  font-size: 13px; color: rgb(171, 38, 54); }
.awardList_con li .extraNum { float: right; padding-right: 10px; }
.awardList_con strong a:hover { text-decoration: none; }
.awardList_con strong a:link, .awardList_con strong a:visited { color: rgb(30, 80, 162); }
.awardList_con li .otherlink { text-align: right; padding-right: 10px; }
.awardList_con li .otherlink a { margin: 0px 5px; }
.awardList_con li .otherlink a:hover{color:#d43c55}
.grayTitle { height: 27px; line-height: 26px; background-color: rgb(245, 245, 245); clear: both; float: none; overflow: hidden; color: rgb(51, 51, 51); }
.grayTitle dt { font-weight: 700; float: left;  text-align: center; }
.smallRedball { display: inline-block; width: 34px; height: 34px; line-height: 33px; background: url('main_pic.png') no-repeat scroll -395px -48px transparent;   text-align: center; margin-right: 12px;  }
.awardList_con li em.smallRedball{ float: left; width: 34px; height: 34px; color: rgb(150, 0, 0); font-weight:700;}
.list_con em.smallRedball{ float: left; width: 34px; height: 34px; color: rgb(150, 0, 0);font-weight:700;  }
.list_con{ margin-left:20px}
.quickbuy_con { clear: both; height: 460px; }
.bettingBox { float: left; width: 528px; border: 1px solid rgb(221, 221, 221); margin:10px auto 0; }
.bettingBox .gpcBet_con { height: 114px; padding: 0px 15px;  }
.bet_title { height: 22px; clear: both; float: none; padding: 15px 0px 10px; position: relative; z-index: 10; }
.tb_title{height: 20px; clear: both; float: none; padding: 5px 30px 5px; position: relative; z-index: 10; font-size:14px;font-weight:bold; border-bottom:1px solid #ccc; }
.tz_box li{ margin-left:25px; width:235px; height:29px; float:left;line-height:26px}
.bet_title h3 { width: 60px; text-align: right; color: rgb(114, 113, 113); font-weight: 600; background: none repeat scroll 0% 0% rgb(255, 255, 255); float: left; height: 22px; line-height: 22px; padding-right: 4px;padding-left:10px}
.bet_title .popularize { background: none repeat scroll 0% 0% rgb(255, 255, 255); position: absolute; right: 15px; top: 8px; z-index: 11; }
.quickbuy_menu { height: 22px; position: relative; z-index: 1; float: left; }
.quickbuy_menu li { float: left; text-align: center; height: 22px; line-height: 22px; width: 68px; cursor: pointer; border-radius: 2px; background: none repeat scroll 0% 0% rgb(227, 227, 227); margin-right: 6px; }
.quickbuy_menu li a:link, .quickbuy_menu li a:visited, .quickbuy_menu li a:hover { color: rgb(51, 51, 51); text-decoration: none; }
.quickbuy_menu li.active { background-color:#cb344e; color: rgb(255, 255, 255); }
.quickbuy_menu li.active a:link, .quickbuy_menu li.active a:visited, .quickbuy_menu li.active a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.gpc_main { float: left; width: 300px; }
.gpc_title { font-size: 14px; padding-bottom: 3px; }
.gpcBet_con a, .gpcBet_con a:hover { color: rgb(51, 51, 51); text-decoration: none; display: inline-block; }
.gpc_title { padding-top: 12px; }
.gpc_title .retimeBlock { font-size: 12px; font-family: simsun; margin-left: 5px; }
.bettingBox .czLogo { margin: -5px 10px 0px 0px; float: left; position: static; cursor: pointer; }
.bettingBox .czLogo a, .bettingBox .czLogo a:hover { display: block; width: 100%; height: 100%; }
.gpc_betBtn { float: right; width: 115px; padding-top: 27px; }
.gpc_betBtn .btnSubmint { margin: 0px; float: none; }
.gpc_betBtn a:hover { background: url('main_pic.png') no-repeat scroll -234px -49px transparent;}
.btnSubmint { background: url('main_pic.png') no-repeat scroll -62px -49px transparent; display: inline-block; overflow: visible; height: 34px; line-height: 34px; width: 116px; cursor: pointer; border: medium none; vertical-align: middle; margin-left: 8px; float: right; }
.czTitle .moreLinks { clear: both; float: none; position: absolute; top: -85px; right: 10px; text-align: right; white-space: nowrap; z-index: 11; }
.czTitle .moreLinks a { margin-left: 10px; color: rgb(43, 43, 43); }
.czTitle .moreLinks i { display: inline-block; background: url('main_pic.png') no-repeat scroll 0px 0px transparent; width: 17px; height: 17px; margin: -2px 4px 0px 0px; vertical-align: middle; position: relative; z-index: 10; }
.czTitle .moreLinks .trendLink i { background-position: -196px -49px; }
.czTitle .moreLinks .gameintroLink i { background-position: -196px -66px; }
.czTitle { clear: both; padding-bottom: 10px; position: relative; }
.czLogo { width: 61px; height: 64px; background: url('logo_64.png') no-repeat scroll 0% 0% transparent; display: block; position: absolute; margin: -7px 0px 0px -77px; z-index: 10; text-indent: -999px; overflow: hidden; white-space: nowrap; }
.icon_gdxuan5 { background-position: -2px 1px; }
.icon_sdxuan5 { background-position: -2px -61px; }
.icon_shxuan5 { background-position: -2px -130px; }

/* daohang */
/*.nav{width: 1060px; line-height: 35px; margin:0px; float:left; font-size: 14px; position: relative; font-weight:bolder; }*/
/*.nav-main span{display: inline-block; margin-left: 18px; width: 7px; height: 7px; background: url('down-icon.png') no-repeat;}*/
/*.hover-up{transition-duration: .5s; transform: rotate(180deg); -webkit-transform: rotate(180deg);}*/
/*.hover-down{transition-duration: .5s; transform: rotate(0deg); -webkit-transform: rotate(0deg);}*/
/*.nav-main>li{width: 106px; height: 100%; display: block;  text-align:center;  color: #000; margin-right: 1px; cursor: pointer;}*/
/*.nav-main>li:hover{ box-shadow:0 0 5px #000 inset;color:#000 }*/
/*.hidden-box{  border-top: 0; position: absolute; display: none; top: 35px; z-index:999;background:#fff;left:0px}*/
/*.hidden-box>ul{list-style-type: none; color: #ff3e3e; cursor: pointer; }*/
/*.hidden-box li{ width:100px; text-align:center;font-size:13px;}*/
/*.nav a:hover{color:#000;}*/
/*footer*/
.footer { margin: 5px auto 0px;height: 90px;border-top:3px solid rgb(220,0,0);width:1060px;}
.footbg { text-align: center;  color: rgb(153, 153, 153); height:15px; }
.foot_img { background: url('main_pic.png') no-repeat scroll 170px 3px transparent; height:50px; width:1060px; margin:0 auto;}
.foot_txt {line-height: 20px; width:300px; margin:0px auto;  font-size:14px; color:#000;}
/*login*/
.ipter{border: 1px solid rgb(218,218,218); padding: 10px 10px; width: 150px; border-radius: 4px; padding-left: 55px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.ipter:focus{border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.d_logo{background: url('main_pic.png') no-repeat scroll -227px -182px transparent; padding: 10px 10px; position: absolute; top: 43px; left: 45px;}
.m_logo{background: url('main_pic.png') no-repeat scroll -254px -182px transparent; padding: 10px 10px; position: absolute; top: 13px; left: 45px;}
.login_top{width: 275px; height: auto; margin: auto auto; text-align: center;}
.login_line{border: 1px solid rgb(218,218,218);width: 278px; height: auto;}
.login_bottom{height: 50px; line-height: 50px; margin-top: 20px; border-top: 1px solid #e7e7e7;}
.login_ipt{padding: 30px 0px 31px 0px; position: relative;}
.login_rbtn{background: #ccc; padding: 7px 13px; border-radius: 4px; border: 1px solid rgb(218,218,218); color: #FFF; font-weight: bold;cursor: pointer;}
.login_posi{margin: 0px 5px 0px 5px;}
.login_posi a{ color:#c23741;}
.login_posi a:hover{ color:#000;}
.login_weizhi{ margin-left:6px}
.login_ht{width: 400px;height: 200px;margin: auto auto;text-align: center;margin-top: 80px; margin-bottom:50px;border: 1px solid #e7e7e7}
/*loginafter*/
.hy a:hover, .user-head a:hover{text-decoration: underline;}
.hy{width: 234px; height: 16px; line-height: 16px; margin: 5px 13px;}
.hy span{float: left; color: rgb(76, 57, 38);  font-size: 15px; margin-top:5px;}
.hy a{float: right; color: rgb(76, 57, 38); font-size: 14px;}
.user-head{width: 240px; height: 54px; margin: 5px 15px;}
.vip-head{float: left; width: 80px; height: 84px; background: url('main_pic.png') no-repeat scroll -129px -175px transparent;}
.user-head ul{width: 130px; float: left; margin: 6px 0px 0px 5px;}
.user-head li{height: 24px; font-size: 14px; line-height: 18px; color: rgb(76, 57, 38); overflow: hidden; width:140px;height:35px;}
.user-head a{color: rgb(76, 57, 38); font-size: 14px;}
.user-head font{font-size: 14px;}
.nickname{font-weight: bolder;}
.user-action{width: 263px; border-top: 1px dashed rgb(175, 153, 104); margin: 25px 0px 0px 0px; padding-top:8px}
.user-action li{float: left;}
.user-action a{width: 102px; height: 40px; font-size: 14px; line-height: 43px; display: block; text-align: center; margin:2px 12px 5px; padding-left:4px}
.action-blur{color: rgb(76, 57, 38); background: url('main_pic.png') no-repeat scroll 1px -174px transparent;}
.userlogin{width: 280px; overflow: hidden;}
.bottomBox { border-bottom: 1px solid rgb(211, 211, 211); margin-bottom: -1px; width:1060px; margin:0 auto;  }
.bottomBox h3 { clear: both; float: none; height: 15px; line-height: 15px; padding: 11px 15px;border-top: 1px solid #d43c55; }
.bottomBox h3 strong, .bottomBox h3 .c_727272 { float: left; }
.bottomBox h3 .more { float: right; display: inline-block; color: rgb(113, 113, 113); cursor: pointer; }
.winnerNum_table { float:left;width: 25%;  line-height: 30px; color: rgb(153, 153, 153); }
.winnerNum_table th { background: none repeat scroll 0% 0% rgb(246, 246, 246); text-align: center; color: rgb(51, 51, 51); }
.winnerNum_table td {  border-color:#ccc;border-width: 1px 0px; border-style: solid none; border-color: rgb(238, 238, 238) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; text-align: center; }
.winnerNum_table td.period { color: rgb(160, 160, 160); border-left:1px solid #ccc; }
.awardTd{ font-weight:700; color:#d43c55;}
/*pagingbox*/
.paybox a{ color:#fff;  cursor: pointer; font-size: 25px;height: 49px; line-height: 49px;}
.paybox { width: 234px; margin: 20px auto ; height: 50px; position:relative; background: url(phpico.png) no-repeat scroll 15px -243px rgba(0, 0, 0, 0); }
.paybox a:hover { text-decoration: none; color: rgb(180,180,180);}
.submit_btn{ border: medium none;width:192px; padding:10px 65px 10px 65px; }
.paging { padding: 20px 0; overflow: hidden }
.paging a, .paging .current_page, .paging .page_text { padding: 3px 9px; color: #666; border: 1px solid #ccc; display: block; margin-right: 4px; float: left }
.paging .current_page{ color: #444; background-color: #eee; border-color: #333;padding: 0px 5px; }
.paging a:hover { color: #444; border-color: #333; text-decoration: none; }
.paging a:active { box-shadow: inset 0 1px 2px #bbb }

/*login*/
.ipt{border: 1px solid #d3d3d3; padding: 10px 10px; width: 290px; border-radius: 4px; padding-left: 35px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.ipt:focus{border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.u_logo{background: url('main_pic.png') no-repeat scroll -227px -182px transparent; padding: 10px 10px; position: absolute; top: 43px; left: 40px;}
.p_logo{background: url('main_pic.png') no-repeat scroll -254px -182px transparent; padding: 10px 10px; position: absolute; top: 12px; left: 40px;}
a{text-decoration: none;}
/*jiaoyizhongxin*/
.user-frm input{width:315px;height:25px}
#lmiddle{ margin:0px auto 0px; width:1058px;border:1px solid rgb(218,218,218);}
h1{font-size:16px;font-weight:500}
.agency_tab span a{ margin-left:60px; }
.agency_tab span a:hover{ )}
#showC { line-height: 24px; }
#showC a { color: #248dc1; display: inline-block; padding: 0 5px }
#showC a:hover { background:#d43c55; color: #fff; text-decoration: none; }
#showC a:active { background: #00426b }
.user-table { width: 100%; }
.user-table td { border: 1px solid #ccc }
.user-table .ut-label { width: 110px; font-weight: bold; text-align: right; font-size: 14px; }
.user-list { width: 100%; border-collapse: collapse; }
.user-list td, .user-list th { border: 1px solid #ccc; text-align: center;word-wrap: break-word; word-break: break-all; white-space: normal;font-size: 14px;padding:3px }
.user-list th { background:rgb(218,218,218); font-weight: bold; }
.page_title,.page_title2,.page_title3{ padding:5px}
.main_form{ width:315px; margin:0 auto}
.main_form .iDialogHead{ font-size:19px; font-weight:bolder; text-align:center;height:30px; margin-bottom:10px}
.iDialogHead h1{font-size:19px;font-weight:bolder;}
#lmiddle .button{ padding:3px}
#dlmiddle{ width:1058px; margin:0 auto;}
.page_title1{ margin:5px auto 0px}
.page_title1 form{ margin:5px auto}
#middle{margin:0 auto; width:1058px;}
.page_title1{ padding-bottom:45px;}
#showC h1 { font-size: 14px; text-align: center; height: 32px; line-height: 32px; border-bottom: 1px solid rgb(218,218,218); }
.user-frm dd{font-size:16px; padding-top:5px;text-align:center;}
.user-frm-title{ font-weight:bolder; font-size:18px; padding-top:10px}
.user-frm dd label{ font-size:13px; height:20px; display:inline-block;}
#passwordStrengthDivC{display:none;}
#passwordStrengthDiv{display:none;}
.user-frm-title{ font-weight:bolder; font-size:18px; padding-top:10px}
.history_title{ margin:10px;}
.iDialogBtn,.reg-button .button,.chongzhibtn {padding-left:0px; width: 325px; height: 40px; position:relative; background: #d43c55; border:none; font-size:20px;color:#fff; margin:10px auto 0;cursor:pointer; }
.addsec{ margin:3px 30px 3px}
.title{ cursor:pointer;}
.opening{ margin-left:0px;}
/* ::::: http://www.11-5.com/middlecenter/right ::::: */
.TabTitle3 ul { display: block; height: 33px; width:1056px; overflow: hidden;  line-height: 16px;}
.TabTitle3 ul li {float: left; height: 31px; line-height: 21px; padding: 6px 11px; color: rgb(0, 0, 0); cursor: pointer; font-size:14px }
.TabTitle3 ul li.active {background: url('phpico.png') no-repeat scroll 0px -0px transparent; color: rgb(255, 255, 255); font-weight:600; }
.TabTitle3 ul li.normal { color: rgb(0, 0, 0); }
.user_wrapper {border-top:1px solid rgb(218,218,218);  width: 1058px; margin: 10px auto 20px; overflow: auto; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.leftmenu {background:none no-repeat scroll  rgb(254, 251, 245); width: 1058px; margin: 0px 8px 0px 0px; float: left; font-family: "微软雅黑"; overflow: hidden;border-bottom:1px solid rgb(218,218,218); }
.leftmenu li { width:130px;float:left; height: 36px; line-height: 36px; text-align: center; color: rgb(151, 151, 151); border-left: 1px solid rgb(218,218,218);  }
.leftmenu li a:hover, .leftmenu dd a:visited { background-position: left center; color: #d43c55; }
.con_box a { text-decoration: none; }
.con_box { width: 1058px; float: right; }
.cp_slide_nav { height: 35px; line-height: 35px;border-bottom:2px solid rgb(160,0,0) }
.cp_slide_nav ul { overflow: hidden; height: 35px; }
.cp_slide_nav ul li { float: left; margin-right: 5px; }
.cp_slide_nav ul li a { display: inline-block; padding: 0px 15px; font-size: 14px; font-weight: bold; height: 35px; line-height: 35px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(199, 0, 0);  text-align: center; }
.cp_slide_nav ul li.on a:link, .cp_slide_nav ul li.on a:visited { color: rgb(255, 255, 255); }
#myTab2_Content0 .user-frm{ width:325px; margin-left:330px}
#myTab2_Content0 #passwordStrengthDivC{display:none}
#myTab2_Content0 #passwordStrengthDiv{display:none}
#myTab2_Content1{ margin-left:350px}
 .sm2 {color: #d43c55;line-height: 25px;margin: 10px 20px; text-indent: 2em;}
#tabbank .tabcon h5 { color: #e82803; line-height: 24px; margin: 10px;}
.se_1 { border: 1px solid rgb(204, 204, 204); color: rgb(255, 0, 0); height: 20px; vertical-align: 10px; width: 110px; }
.online_gs { line-height: 40px; color: rgb(119, 0, 0); }
.tablestyle { border: 1px solid rgb(219, 212, 204); }
.tablestyle th, .tablestyle td { height: 35px; line-height: 35px; text-align: center;  }
.tablestyle th { background: none repeat scroll 0% 0% rgb(254, 232, 190); }
.bggray { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
#select_type { height: 30px; }
#select_amount { height: 30px; }
#CaptchaIMG { margin-left: 10px; margin-right: 10px; }
.com_tip { display: inline-block; height: 26px; line-height: 26px; border-radius: 3px; padding-right: 10px; padding-left: 25px; margin-left: 10px; font-size: 12px; }
.bankcheck img { vertical-align: 0px; }
.bankcheck input { vertical-align: 8px; }
#tabbank input.input_w_1 { width: 125px; border: 1px solid rgb(124, 129, 139); color: rgb(51, 51, 51); padding: 6px; font: 700 16px/22px arial; margin-right: 2px; }
#tabbank input.input_w_1.tip_text { color: rgb(153, 153, 153); }

#tabbank input.input_w_2 { width: 225px; border:none; color: rgb(51, 51, 51); padding: 6px; font: 700 16px/22px arial; margin-right: 2px; }
#tabbank input.input_w_2.tip_text { color: rgb(153, 153, 153); }
#tabbank .tabcon em { display: inline-block; text-align: center; margin: 0px 10px; font-size: 12px; }
#withdrawal input.input_w_1 { width: 125px; border: 1px solid rgb(124, 129, 139); color: rgb(51, 51, 51); padding: 6px; font: 700 16px/22px arial; margin-right: 2px; }
#withdrawal input.input_w_1.tip_text { color: rgb(153, 153, 153); }
#withdrawal .tabcon em { display: inline-block; text-align: center; margin: 0px 10px; font-size: 12px; }
.tabcon { padding: 0px 18px; }
.tabcon dl { clear: both; overflow: auto; border-bottom: 1px dashed rgb(224, 220, 221); padding: 15px 4px; }
.tabcon dt, .tabcon dd { display: block; line-height: 45px; }
.tabcon dt { width: 130px; text-align: right; color: rgb(62, 62, 62); float: left; }
.bankcheck { float: left; }
.bankcheck label { width: 140px; height: 36px; border: 1px solid rgb(204, 204, 204); display: inline-block; text-align: center; padding-top: 8px; margin: 0px 5px 10px; border-radius: 3px; cursor: pointer; float: left; }
.bankcheck .mlabel { background: none repeat scroll 0% 0% rgb(255, 249, 233); line-height: 36px; }
.bankcheck .mlabel select {  }
.cont_center .tishi p { color: #d43c55; margin: 10px 0px 0px; padding: 0px 0px 0px 27px; font-size: 12px; line-height: 18px; }
.cont_center .tishi{float:right; height:120px}
.chcz_nav{height:40px; border-bottom:1px solid rgb(218,218,218);}
.chcz_nav a{ font-size:16px; line-height:40px; width:230px; text-align:center; font-weight:bolder; color:#d43c55}
.chcz_nav a:hover,.chcz_nav a:visited{ background-color:rgb(218,218,218)}
#tabbank a{color:#d43c55}
.chartArea,.chart_list{ width:1060px; margin:0 auto;}
#labelControl{display:none}
.chartArea{ width:1060px; margin:0 auto;}
#chartsTable{ width:1060px}
#chart_area table{width:1060px}
#chart_area{ margin:0px auto;}
#tprime,.bd,#tcom,.btnBg{display:none;}
/* side */
.side{position:fixed;width:54px;height:275px;right:0;top:30%;z-index:100;}
.side ul li{width:54px;height:54px;float:left;position:relative;border-bottom:1px solid #990808;}
.side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;background:#ae1c1c;opacity:0.9;filter:Alpha(opacity=90);color:#fff;font:14px/54px "微软雅黑";overflow:hidden;}
.side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#ae1c1c;opacity:0.9;filter:Alpha(opacity=90);transition:all 0.3s;}
.side ul li .sidetop:hover{background:#000;opacity:1;filter:Alpha(opacity=100);}
.side ul li img{float:left;}
.side ul li a{color:#fff}
.all_con{ width:1058px; float:left ;border:1px solid #d43c55 }
.dqkj_kjjg_tit { border-left: 1px solid rgb(225, 0, 0);border-right: 1px solid rgb(225, 0, 0);  height: 28px; padding: 0px 10px; }.tit_name { font-size: 14px; font-weight: bold; float: left; line-height: 29px; width: 500px; color: rgb(205, 1, 0); }
.kjjg_table { width: 352px; border-collapse: collapse; border-spacing: 0px;float:left;}
.kjjg_table td {text-align: center;  height:20px; }
.kjjg_table th { background: none repeat scroll 0% 0% rgb(247, 247, 247);text-align: center; line-height: 31px; }
.kjjg_hm { overflow: hidden;  margin:auto 20px; width:110px  }
.kjjg_hm span { display: block; float: left; width: 35px; height: 20px; color:rgb(207, 0, 0); line-height:21px;font-size:13px; }
.kjfive_hm { overflow: hidden;  margin:auto 10px;  }
.kjfive_hm span { display: block; float: left; width: 24px; height: 20px; color:rgb(207, 0, 0); line-height:21px; font-size:13px; }
.fen td { background: none repeat scroll 0% 0% rgb(249, 249, 249); }
.kjjg_table td.hz { color: rgb(205, 1, 0); font-weight: bold; }
.kjjg_table tr{ border-bottom:1px dotted rgb(213, 213, 213)}
.chart_list{width:1060px;; margin:0 auto;}
#userDo,.btn-confirm { padding:3px 7px 3px 7px;background:#d43c55; border:none;color:#fff;}
/* ::::: menu.css::::: */
.menu{font-size:12px;height:21px;border-width:1px 0 1px 0;width:98px; margin-top:-20px; }
.menucon{width:95px;margin:0 auto;}
.menu li{z-index:999;float:left;position:relative;border-width:0 1px 0 1px;margin:0 0 0 -1px;}
.menu li a:visited{color:#d43c55;display:block;color:#874b46;width:95px;height:21px;line-height:21px;overflow:hidden;text-align:center;}
.menu li a{ font-weight:700;color:#d43c55;display:block;color:#874b46;width:95px;height:21px;line-height:21px;overflow:hidden;}
.menu li a,.menu li a:visited{width:95px;color:#d43c55;}
.menu li ul{display:none;border:1px solid #ccc}
.menu li:hover ul{display:block;position:absolute;top:21px;left:-10px;margin:0 0 0 0;width:130px;background:#fff;}
.menu li:hover a{background:#fff;}
.menu li:hover li a{color:#5a5a5a;display:block;line-height:24px;width:125px;font-weight:500; }
.menu li li{padding:0 6px;border:0;}
.safe{width: 225px; height: 92px;  overflow: hidden;}
.safe li{float: left; color: rgb(76, 58, 38); font-size: 14px; margin: 0px 9px; font-weight:bolder;}
.app{width: 225px; height: 265px;overflow: hidden; margin-top: 10px;}
.app-download{width: 225px;  margin: 0px 40px;}
.ewm li{float: left; color: rgb(76, 58, 38); font-size: 15px; margin: 150px 40px; font-weight:bolder;}
#myTab2{height:40px;border-bottom:1px solid #ccc;}
.kefu{width: 120px; height: 120px; position: absolute; display: block; top: 280px; left: 8px;}
.step_box{ width: auto; margin: 0px auto; color:#000; border: 1px solid rgb(218,218,218); padding:5px 0px 0px 0px;border-top:none; }
.step_main_in .mode{ text-align:center;font-size:15px;font-weight:500;border-bottom:1px solid #ccc; padding-bottom:5px;}
.step_main_in .expand{ text-align:center;padding:10px 0px}
.expand .zhuiTop{ border-bottom:1px solid #ccc; padding-bottom:10px;font-size:13px;}
.expand .chaseNum{font-size:13px;}
.expand .chaseNum td{ border-bottom:1px solid #ccc;padding:4px 0px;}
.expand .greny{ background-color:#ffffff;}
.expand .zhuiEachPrice{width:70px;}
@media (max-width: 640px) {
body{ width:auto; height:auto;margin:0px }
.select_line{ width:auto; background-position:center top;}
.select_list_box{ width:auto;}
.has_add_ball li{ height:auto; padding:5px;}
.has_add_ball li .txt-betsName,.has_add_ball li .txt-num{ width:50%; font-size:10pt;}
.has_add_ball li .txt-num{ text-align:right;}
.select_list_box .selected_list{ height:auto; overflow:auto;}
.has_add_ball li .txt-amount{ padding:0;}
.area600,.top-banner-bg,.footer,.welz8,.top-nav-r,#caipiao_nav_list,.side,.top,.awardLists,.bottomBox,.kongge,.area840{display:none}
.bd_content { width: auto; margin: 0px auto; height:100px}
.nav{width:375px; }
.mid_top,.shishifa-caipiao-nav{margin-left:0px; padding-left:0px}
.area240 ,#lotteryList,.zyGame,.otherGames{margin:0 auto; width:375px;}
.area232,.userlogin,.banner_content{margin:0 auto; width:375px; border:none}
.login_line{border: 1px solid #d43c55;width: 375px; height: auto;}
.area232{width:375px;}
#wrap-nav ul.menu li h3{padding:0 1px 0 0;font-size:1.2em;}
#wrap-nav ul.menu li h3 a.depth_1{padding:2px 0 0 10px;display:inline-block;color:#282825;}
.title img,.content1 img,#content img{width:100%}
.kj_middle_box,.kj_info_l,.k_bottom,.right_middle,.kj_bottom_box{width:375px;}
.kj_info_l,.kj_info_r,.kj_info_c,.right_top,#myTab3{width:auto;height:140px}
.kj_info_r{ margin-left:-30px}
/*.kj_info_box,.kj_open_box{width:375px}*/
/*.k_top{ height:440px}*/
.cz_ico{ margin-left:115px}
.select_num2{ margin-left:-10px; width:370px}
.TabContent1 .content0 .select_num1 { width: 375px; margin-left:-10px;}
.TabContent1 .content0 .select_txt1 { margin:auto 10px;   width:375px;}
.kj_info_l .cz_info {width:300px; margin-left:30px }
.select_num ul{ width:370px;  margin:auto 20px}
/*.select_num ul .long_select_btn{ margin-left:100px}*/
.period-r{float:left}
.login_weizhi{ margin-left:0px}
.logAfter{ margin-left:70px}
#middle{width:370px;}
#lmiddle{width:370px}
#lmiddle .agency_tab{padding-left:0px; margin-top:30px}
.mn img{width:100%;}
.tw_content{width:370px}
#showC .page_title{ height:90px}
#showC .page_title2{ height:60px}
#showC .page_title3{ height:40px}
.user_wrapper,.con_box{width:370px;float:left;}
.leftmenu{width:370px;}
#myTab2_Content0 .user-frm{margin-left:0px}
#myTab2_Content1 .user-frm{margin-left:0px}
#showC .history_title{ height:70px}
.chcz_nav{height:40px; }
.chcz_nav a{ font-size:13px; line-height:40px; width:60px; text-align:center; font-weight:bolder; color:#d43c55}
#myTab2{width:370px;}
.bankcheck .checked{width:200px;float:left;display:block;}
.hidden-box #lotteryList{width:280px}
.zst_all{ overflow:auto;}
.period-nav{ width:375px;}
.main_tain img{width:100%;}
.menu,.btn_box,.safe_app{display:none;}
#myTab2_Content1 { margin-left:0px}
#tabbank input.input_w_2 { width: 165px; border:none; color: rgb(51, 51, 51); padding: 6px; font: 700 16px/22px arial; margin-right: 2px; }
.mod-caizhong{width:375px; height:250px}
.mod-caizhong .group-4,.mod-caizhong .group-3{ margin-top:0px;}
.user-list td, .user-list th{font-size:12px;font-weight:500}
.kefu,.kefu img,#mo_dhang,.step_box{display:none;}
#lotteryList,#gamesMenu{display:block;}
}



